.custom-header-top-nav-background:before {
  background: #7367f0;
}
.custom-header-top-nav-background:after {
  background: #a39aff;
}

#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active {
  color: #7367f0;
}

#header .header-nav.header-nav-links nav > ul li:hover > a {
  color: #7367f0;
}

.cursor-outer {
  border-color: #7367f0;
}

.cursor-inner {
  background-color: #7367f0;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
  border-top-color: #7367f0;
}

section.section.section-height-3 {
  padding: 0;
}

html .overlay-color-primary:not(.no-skin):before {
  background-color: #7367f0 !important;
}

.home-concept {
  background: transparent url("/img/home/home__process/home-concept.png") no-repeat center 0;
}

.home-concept .process-image {
  background: transparent url("/img/home/home__process/home-concept-item.png") no-repeat 0 0;
}

.home-concept .sun {
  background: transparent url("/img/home/home__process/home-concept-icons.png") no-repeat 0 0;
}

.home-concept .cloud {
  background: transparent url("/img/home/home__process/home-concept-icons.png") no-repeat 100% 0;
}

.home-concept .project-image {
  background: transparent url("/img/home/home__process/home-concept-item.png") no-repeat 100% 0;
}

.home-concept strong {
  color: #7367f0;
}

html .bg-color-primary, html .bg-primary {
  background-color: #7367f0 !important;
}

html .text-color-primary, html .text-primary {
  color: #7367f0 !important;
}

.custom-highlight-text-1:before {
  border-bottom-color: #7367f0;
}

.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: #7367f0;
}

html .btn-primary {
  background-color: #7367f0;
  border-color: #7367f0 #7367f0 #5146cc;
  color: #FFF;
}
html .btn-primary:hover {
  background-color: #5146cc;
  border-color: #5146cc #5146cc #7367f0;
  color: #FFF;
}

html .svg-fill-color-primary {
  fill: #7367f0 !important;
}

html .svg-fill-color-primary svg path, html .svg-fill-color-primary svg rect, html .svg-fill-color-primary svg line, html .svg-fill-color-primary svg polyline, html .svg-fill-color-primary svg polygon {
  fill: #7367f0 !important;
}

html body .btn-light, html body .btn-outline.btn-light {
  border-color: #d9d9d9 #d9d9d9 #bfbfbf;
  color: #777 !important;
}

.ml-3 {
  margin-left: 5px;
}

.contact-form-error .alert-text {
  display: block;
}

#localeModal {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
