$color-primary: #7367f0;
$color-primary2: #a39aff;
$color-primary3: #5146cc;


@import "./modules/header";
@import "./modules/home";

html .bg-color-primary, html .bg-primary{
    background-color: $color-primary !important;
}

html .text-color-primary, html .text-primary{
    color: $color-primary !important;
}

.custom-highlight-text-1:before {
    border-bottom-color: $color-primary;
}

.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: $color-primary;
}

html .btn-primary {
    background-color: $color-primary;
    border-color: $color-primary $color-primary $color-primary3;
    color: #FFF;

    &:hover{
        background-color: $color-primary3;
        border-color: $color-primary3 $color-primary3 $color-primary;
        color: #FFF;
    }
}

html .svg-fill-color-primary {
    fill: $color-primary !important;
}

html .svg-fill-color-primary svg path, html .svg-fill-color-primary svg rect, html .svg-fill-color-primary svg line, html .svg-fill-color-primary svg polyline, html .svg-fill-color-primary svg polygon {
    fill: $color-primary !important;
}

html body .btn-light, html body .btn-outline.btn-light {
    border-color: #d9d9d9 #d9d9d9 #bfbfbf;
    color: #777 !important;
}

.ml-3{
    margin-left: 5px;
}

.contact-form-error {
    .alert-text{
        display: block;
    }
}

#localeModal{
    backdrop-filter: blur(20px);
}
