.custom-header-top-nav-background{
    &:before {
        background: #7367f0;
    }

    &:after {
        background: #a39aff;
    }
}

#header .header-nav.header-nav-links nav > ul:not(:hover) > li > a.active{
    color: $color-primary;
}

#header .header-nav.header-nav-links nav > ul li:hover > a{
    color: $color-primary;
}

.cursor-outer {
    border-color: $color-primary;
}

.cursor-inner {
    background-color: $color-primary;
}

#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {
    border-top-color: $color-primary;
}
