section.section.section-height-3{
    padding: 0;
}

html .overlay-color-primary:not(.no-skin):before {
    background-color: $color-primary !important;
}

.home-concept {
    background: transparent url('/img/home/home__process/home-concept.png') no-repeat center 0;
}

.home-concept .process-image{
    background: transparent url('/img/home/home__process/home-concept-item.png') no-repeat 0 0;
}

.home-concept .sun {
    background: transparent url('/img/home/home__process/home-concept-icons.png') no-repeat 0 0;
}

.home-concept .cloud {
    background: transparent url('/img/home/home__process/home-concept-icons.png') no-repeat 100% 0;
}

.home-concept .project-image {
    background: transparent url('/img/home/home__process/home-concept-item.png') no-repeat 100% 0;
}

.home-concept strong {
    color: $color-primary;
}
